<div class="row">
  <div class="col-md-12">
    <h1>Admin Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="well dash-box">
      <h4>Products</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @products_count, admin_products_path%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well dash-box">
      <h4>Categories</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @categories_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
